.App{
  position: relative;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videocontaner{
  position: relative;
  
}

#canvas {
  position: absolute;
}

#video{
  position: absolute;
}